.grading-container{
    display: flex;
    border: 2px solid #00afbe;
    margin-top: 15px;
    border-radius: 12px;
    max-width: 132px;
    /*justify-content: center;*/
}

.grading-title{
    font-size: 18px;
}

.dislikes-container, .likes-container{
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.dislikes-container button, .likes-container button{
    padding: 6px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
}

.gradeBtn{
    background-color: #9b9b9b;
}

.dislike-btn{
    background-color: #6e001e;
}

.dislike-btn:hover {
    background-color: #a61f1f;
}

.dislike-btn:active {
    background-color: #7a1a1a;
}

.like-btn:hover {
    background-color: #29b054;
}

.like-btn:active {
    background-color: #1a7a30;
}

.gradeBtn:disabled,
.gradeBtn[disabled]{
    background-color: #3b3b3b;
    cursor: default;
}